*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Galada', cursive;
 
}


#logo{
  padding-top: 1em;
}



/* index grid layout css */

.index-container {
  display: grid;
  height: 100%;
  

  
}
#navbar { 
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  min-height: 10vh;
  justify-items: center;
  align-items: center;
  width: 100%;
  background: rgb(164,18,18);
  font-size: 18pt;
  background: radial-gradient(circle, rgba(164,18,18,1) 0%, rgba(0,0,0,1) 75%);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(5vw,1fr));
  z-index: 2;
  
}
.logo{
  margin-left: 1vw;
  margin-top: 1vh;
  grid-column: span 2;
  /* display: grid; */
}

.logo a{
  float: left;
}
#navbar a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;

}
#navbar a:hover{
  font-size: 36pt;
  color: #A41212;
  
}
.title{
  margin-top: 1.6vh;
  margin-left: 0.3vw;
}

.navbar-items{
  
  min-width: 5vw;
}
#main-card-text>h2{
  animation-name: changeColor;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
#content-2{
  margin-top: 5vh;
  min-height: 30vh;
  width: 90%;
  display: grid;
  margin-left: 5vw;
  grid-gap: 2.5%;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
#content-2>div{
  width: 100%;
  /* height: 100%; */
  text-align: center;
  min-height: 40vh;

}
#content-1 {
 
  min-height: 40vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(250px,3fr) minmax(250px,2fr);
   
}
#content-1>div>img{
  border-radius: 15px 0px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#content-1>div{
 
  width: 100%;
  height: 100%;

}
#main-card{
  background-color: #E7918F;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
  border-radius: 0px 15px 0px 0px;
 

 

}

#main-card img{
  border-radius: 50%;
  width: 100%;
}
#main-card-text{
  width: 70%;
  text-align: center;
}

button{

  padding: 10% 12%;
  background-color: #A41212;
  color: white;
  border-radius: 10px;
  font-family: 'Galada', cursive;
  width: 10vw;
}

.content-2-card{

  background: rgb(164,18,18);
  background: radial-gradient(circle, rgba(164,18,18,1) 0%, rgba(163,24,24,1) 4%, rgba(144,120,120,1) 62%);  
  border-radius: 15px 15px 15px 15px;
  transition: 0.7s all ease-out;


}
.content-2-card:hover{

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.content-2-card>img{
  margin-top: 5vh;
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.footer{
  display: flex;
  margin-top: 5vh;
  justify-content: space-around;
  text-align: center;
  min-height: 20vh;
  background: rgb(164,18,18);
  background: linear-gradient(90deg, rgba(164,18,18,1) 0%, rgba(231,145,143,1) 59%);
}

.footer>div{
  
  margin-top: 5vh;

}
.content-2-card > p{

  width: 100%;
  height: 100%;
}
#content-1 h2{
  font-size: 24pt ;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@keyframes changeColor {
  20%{
    color: white;
  }
  40%{
    color: purple;
  }
  60%{
    color:yellow;
  }
  80%{
    color: rgba(144,120,120,1);
  }
  100%{
    color: green;
  }

}

