body{
  margin: 0;
  font-family: 'Galada', cursive;
 
}
.nav-bar ul{
  border-radius: 0px 0px 15px 15px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding-left: 0;
    background: rgb(164,18,18);
background: radial-gradient(circle, rgba(164,18,18,1) 0%, rgba(0,0,0,1) 75%);
}

.nav-bar li{
  float: left;
  display: block;
  text-align: center;
  padding: 1.3em 1em 0.7em 1em;
  font-size: 2em;
  letter-spacing: 0.2em;
}
.nav-bar a{

  color: white;
  text-decoration: none;
  


}

#logo{
  padding-top: 1em;
}



.item1 { grid-area: navbar; }
.item2 {  grid-area: slider;}
.item3 { grid-area: content1; }
.item4 { grid-area: content2; }
.item5 {grid-area: video; }
.item6 { grid-area: reviews; }
.item7 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'navbar navbar'
    'slider content1'
    'content2 video'
    'reviews reviews'
    'footer footer';
    /* grid-gap: 10em;  */
  /* background-color: #2196F3; */
     /* padding: 10em; */
}

.grid-container  div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
}