* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Galada', cursive;
}

#logo {
  padding-top: 1em;
}

/* index grid layout css */
.index-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
}

#main-card-text > h2 {
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#content-2 {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 90%;
  margin-top: 5vh;
  min-height: 30vh;
  margin-left: 5vw;
  grid-gap: 2.5%;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#content-2 div {
  width: 100%;
  text-align: center;
  min-height: 40vh;
}

#content-1 {
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
}

#content-1 div {
  width: 100%;
  height: 100%;
}

#content-1 div img {
  border-radius: 15px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#main-card {
  background-color: #E7918F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 0px 15px 0px 0px;
}

#main-card div img {
  border-radius: 50%;
  width: 75%;
}

#main-card-text {
  width: 70%;
  text-align: center;
}

button {
  padding: 2.5% 3%;
  background-color: #A41212;
  color: white;
  border-radius: 10px;
  font-family: 'Galada', cursive;
  text-align: center;
  width: 10vw;
}

.content-2-card {
  margin-bottom: 5vh;
  background: #a41212;
  background: radial-gradient(circle, #a41212 0%, #a31818 4%, #907878 62%);
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: 0.7s all ease-out;
  transition: 0.7s all ease-out;
}

.content-2-card:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content-2-card img {
  margin-top: 5vh;
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-2-card p {
  width: 100%;
  max-height: 100%;
}

.content-2-card h2 {
  font-size: 24pt;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  min-height: 20vh;
  background: #a41212;
  background: -webkit-gradient(linear, left top, right top, from(#a41212), color-stop(59%, #e7918f));
  background: linear-gradient(90deg, #a41212 0%, #e7918f 59%);
}

.footer div {
  margin-top: 5vh;
}

@-webkit-keyframes changeColor {
  20% {
    color: white;
  }
  40% {
    color: purple;
  }
  60% {
    color: yellow;
  }
  80% {
    color: #907878;
  }
  100% {
    color: green;
  }
}

@keyframes changeColor {
  20% {
    color: white;
  }
  40% {
    color: purple;
  }
  60% {
    color: yellow;
  }
  80% {
    color: #907878;
  }
  100% {
    color: green;
  }
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.dropbtn {
  background: #a41212;
  background: radial-gradient(circle, #a41212 0%, black 75%);
  color: white;
  padding: 16px;
  font-size: 18pt;
  letter-spacing: 0.2rem;
  border: none;
  width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  #navbar {
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    min-height: 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 18pt;
    background: #a41212;
    background: radial-gradient(circle, #a41212 0%, black 75%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5vw, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
    z-index: 2;
  }
  #navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .logo {
    margin-left: 1vw;
    margin-top: 1vh;
    grid-column: span 2;
    /* display: grid; */
  }
  .logo a {
    float: left;
  }
  #navbar a:hover {
    font-size: 36pt;
    color: #A41212;
  }
  .title {
    margin-top: 1.6vh;
    margin-left: 0.3vw;
  }
  .navbar-items {
    min-width: 5vw;
  }
}

@media only screen and (min-width: 1020px) {
  .desktop {
    display: block;
  }
  #content-1 {
    -ms-grid-columns: minmax(250px, 3fr) minmax(250px, 2fr);
        grid-template-columns: minmax(250px, 3fr) minmax(250px, 2fr);
  }
}
/*# sourceMappingURL=style.css.map */